// 设置鼠标所在表格的行背景色
.ag-row-hover {
  background-color: #dfdfff !important;
}

.ag-cell {
  border-right: 1px solid #d9dcde !important;

}

// 等价于：
// $hover-color: #dfdfff;

// 设置鼠标所在表格的列背景色
.ag-column-border {
  border-left: 1px solid lightgrey !important;
  border-right: 1px solid lightgrey !important;
  border-bottom: 1px solid lightgrey !important;
}

.ag-header {
  height: 33px !important;
}


.ag-header-cell-text {
  font-size: 14px;
  color: #606266;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.ag-header-row {
  height: 33px !important;
}

.ag-cell-value {
  color: #4f5153;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.ag-header-cell::after {
  top: 0 !important;
  height: 100% !important;
}

.hl_header_center .ag-header-cell-label {
  justify-content: center
}

.hl_content_center .ag-cell-wrapper {
  justify-content: center !important
}

.hl_content_left .ag-cell-wrapper {
  justify-content: left !important
}

.ag-floating-bottom {
  text-align: center;
  padding: 5px;
}
.ag-cell-inline-editing{
  height: 100% !important;
}

// @import '../../node_modules/ag-grid-community/src/styles/ag-grid.scss';
// @import '../../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/legacy/ag-theme-balham-v22-compat'